<title><%- title %></title>
<h1><%= title %></h1>

<!-- Display flash messages if any -->
<%- messages() %>

<div class="loginForm">
    <a href="/inventory/add-classification">Add a New Classification </a></p>
    <a href="/inventory/add-inventory">Add New Vehicle</a>
</div>